.info-item {
	height: 200px;
	background-color: #1468a026;
	padding: 20px;
	color: black;
	margin-bottom: 10px;

	&:hover, &:visited {
		color: black;
	}

	&:hover {
		background-color: #1468a046;

		.info-item-image {
			transform: scale(1.15);
		}
	}

	.info-item-description {
		height: 70%;
		text-align: center;
	}

	.info-item-image {
		height: 30%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: transform 0.5s linear;

		img {
			max-height: 100%;
		}
	}
}