.info-item {
	height: 200px;
	padding: 20px;
	color: black;
	margin-bottom: 10px;
	font-weight: normal;
	border: 0;

	&:hover, &:visited {
		color: black;
	}

	&:hover {
		font-weight: bold;

		.info-item-image {
			transform: scale(1.15);
		}
	}

	.info-item-description {
		height: 70%;
		text-align: center;
	}

	.info-item-image {
		height: 30%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: transform 0.5s linear;

		img {
			max-height: 100%;
			max-width: 90%;
		}
	}
}