@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@import "./ui/styles/common-styles.css";

@import "./ui/another/another.page.component.css";
@import "./ui/main/landing.page.component.css";
@import "./ui/main/cover-image.component.css";
@import "./ui/main/about.component.css";

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
