@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@import "./ui/_common/styles/button-animation.css";
@import "./ui/_common/styles/rerouting-animation.css";
@import "./ui/_common/components/logo.component.css";
@import "./ui/_common/components/info-item.component.css";

@import "./ui/landing-page/landing.page.component.css";
@import "./ui/landing-page/cover-image.component.css";
@import "./ui/landing-page/main-content.component.css";
@import "./ui/me/me.component.css";
@import "./ui/my-contacts/my-contacts.component.css";
@import "./ui/my-projects/my-projects.component.css";

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
